[submodule "demo-ng"]
	path = demo-ng
	url = https://github.com/keerl/demo-ng.git
	ignore = dirty
[submodule "demo-react"]
	path = demo-react
	url = https://github.com/keerl/demo-react.git
	ignore = dirty
[submodule "demo-svelte"]
	path = demo-svelte
	url = https://github.com/keerl/demo-svelte.git
	ignore = dirty
[submodule "demo-vue"]
	path = demo-vue
	url = https://github.com/keerl/demo-vue.git
	ignore = dirty
[submodule "tools"]
	path = tools
	url = https://github.com/keerl/tools.git
