@import '~@nativescript/theme/core';
@import '~@nativescript/theme/default';

$theme-color: #b52e31;

ActionBar {
    background-color: $theme-color;
    color: white;
}

Button {
    background-color: $theme-color;
    color: white;
}
