@import '~@nativescript/theme/core';
@import '~@nativescript/theme/default';

$theme-color: #42b883;

ActionBar {
    background-color: $theme-color;
    color: white;

    Label {
        color: white;
    }
}

Button {
    background-color: $theme-color;
    color: white;
}
